
.color-green {
    color: deepskyblue !important;
}
.played{
    background-color:#1f1f1f;
    height:495px;
    width:100%;
    
    filter:blur;
}
.tool {
    align-content: end;
    background-color: gray;
    margin-top: -1%;
    height: 66px;
    border: 2px solid black;
}
.symbol{
    margin:5px 20px 0px 20px;
}
.symbol:hover{
    transform:scale(1.5);
    transition-timing-function:ease-in-out;
    transition-duration:.2s
}
.col-sm-6{
    align-content:center
}
@media only screen and (max-width: 993px) {
    .tool{
        height:149px;
    }
}